/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
/* Variables */
  :root{
    --BodyFontsFamily: 'Work Sans', sans-serif;
    --MainColor: #314584;
    --MainAltColor: #ff3946;
    --MainTransition: 0.4s;
    --MainPaddingTop: 100px;
    --MainPaddingBottom: 100px;
  }
/* Global Rules */
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    background-color: black;
    color: var(--MainAltColor);
  }
  body{
    font-family: var(--BodyFontsFamily);
    color: black;
    overflow-x: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  img {
    max-width: 100%;
  }
  i {
    cursor: pointer;
  }
  h1, h2, h3 {
    text-transform: capitalize;
    color: var(--MainColor);
    letter-spacing: 1px;
  }
  p {
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 1.8;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/* Small Screen */
  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
/* Medium Screen */
  @media (min-width: 992px) {
    .container{
      width: 970px;
    }
  }
/* Lager Screen*/
  @media (min-width: 1200px) {
    .container{
      width: 1170px;
    }
  }
/* ------- Components Button ------- */
  .bth {
    display: block;
    width: fit-content;
    text-transform: capitalize;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
    transition: var(--MainTransition);
  }
/* Styling The Header Section */
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;
  }
  .logo-img {
    vertical-align: middle;
  }
  header .main-nav .check {
    display: none;
  }
  header .main-nav .check + .burger {
    z-index: 1;
    width: 30px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
  }
  header .main-nav .check + .burger span {
    height: 4px;
    width: 100%;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    right: 0;
    transition: var(--MainTransition);
  }
  header .main-nav .check + .burger span:first-child {
    top: 0;
  }
  header .main-nav .check:checked + .burger span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  header .main-nav .check + .burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .main-nav .check:checked + .burger span:nth-child(2) {
    opacity: 0;
  }
  header .main-nav .check + .burger span:last-child {
    bottom: 0;
  }
  header .main-nav .check:checked + .burger span:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  header .main-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .main-nav ul li {
    position: relative;
  }
  header .main-nav ul a {
    display: block;
    text-transform: capitalize;
    color: var(--MainColor);
    font-size: 18px;
    padding: 16px;
    position: relative;
    overflow: hidden;
    transition: var(--MainTransition);
  }
  header .main-nav ul a:hover {
    color: var(--MainAltColor);
  }
  header .main-nav ul > li:not(:last-child) > a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 4px solid var(--MainAltColor);
    width: 0%;
    transition: var( --MainTransition);
  }
  header .main-nav ul li a:hover::before {
    width: 100%;
  }
  header ul .check + .lang-menu-title {
    display: block;
    font-weight: 600;
    color: var(--MainColor);
    font-size: 18px;
    padding: 16px;
    cursor: pointer;
    transition: var(--MainTransition);
  }
  header ul .check:checked + .lang-menu-title {
    color: var(--MainAltColor);
  }
  header ul .check + .lang-menu-title i {
    font-size: 14px;
    transition: var(--MainTransition);
  }
  header ul .check:checked + .lang-menu-title i {
    transform: rotate(180deg);
    color: var(--MainAltColor);
  }
  header ul .lang-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--MainColor);
    width: 160px;
    padding: 8px 0;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: var(--MainTransition);
  }
  header ul .check:checked ~ .lang-menu {
    visibility: visible;
    opacity: 1;
  }
  header ul .lang-menu .lang-btn {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0px;
    padding: 8px 0;
    cursor: pointer;
    transition: var(--MainTransition);
  }
  header ul .lang-menu .lang-btn:hover {
    color: var(--MainAltColor);
  }
  header .contact.bth {
    padding: 1.157rem 2.539rem;
    color: var(--MainAltColor);
    background: linear-gradient(to right, #FFF 50%, var(--MainAltColor) 50%);
    background-size: 200% 99%;
    background-position: left bottom;
    border: none;
    font-size: 20px;
    -moz-box-shadow: 0px 4px 6px 0px rgb(30 32 33 / 7%);
    -webkit-box-shadow: 0px 4px 6px 0px rgb(30 32 33 / 7%);
    box-shadow: 0px 4px 6px 0px rgb(30 32 33 / 7%);
  }
  header .contact.bth:hover {
    background-position: right bottom;
    color: #FFF;
  }
/* ----- Making The Header Section Responsive ----- */
  @media (max-width: 1199px) {
    header .contact.bth {
      font-size: 16px;
      padding: 1.31rem 1.656rem;
    }
    .main-nav > li > a {
      font-size: 16px;
    }
  }
  @media (min-width: 992px) {
    header .check + .burger {
      display: none;
    }
  }
  @media (max-width: 991px) {
    header {
      box-shadow: 0 0 8px 0 #DDD;
    }
    header .container {
      padding-top: 0;
      min-height: 80px;
    }
    header .contact.bth {
      display: none;
    }
    header .main-nav ul {
      position: absolute;
      left: 0;
      top: calc(100% + 2px);
      flex-direction: column;
      width: 100%;
      background-color: rgb(255 255 255 / 97%);
      z-index: -11;
      visibility: hidden;
      opacity: 0;
      transition: var(--MainTransition);
    }
    header .main-nav .check:checked ~ ul {
      z-index: 111;
      visibility: visible;
      opacity: 1;
    }
    header .main-nav ul a {
      padding: 20px;
      font-size: 26px;
    }
    header ul .check + .lang-menu-title {
      padding: 20px;
      font-size: 26px;
    }
    header ul .check + .lang-menu-title i {
      font-size: 20px;
    }
  }
/* Styling The Landing Section */
  .landing > img {
    width: 50%;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: -1;
  }
  .landing-content {
    margin-top: 250px;
  }
  .landing-title {
    font-size: 70px;
    margin: 0;
    margin-bottom: 20px;
  }
  .landing-des {
    color: #6E757A;
    margin-bottom: 50px;
  }
  .landing .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .landing .bth, 
  .landing .touch-bth{
    padding: 18px 36px;
    font-size: 18px;
    text-transform: capitalize;
  }
  .landing .more.bth {
    background-color: var(--MainColor);
    color: white;
    border-radius: 50px;
    border-color: var(--MainColor);
    -moz-box-shadow: 0px 4px 5px 0px rgb(49 69 132 / 20%);
    -webkit-box-shadow: 0px 4px 5px 0px rgb(49 69 132 / 20%);
    box-shadow: 0px 4px 5px 0px rgb(49 69 132 / 20%);
  }
  .landing .more.bth:hover {
    background-color: white;
    color: var(--MainColor);
  }
  .buttons .touch-bth {
    color: var(--MainAltColor);
    transition: var(--MainTransition);
  }
  .buttons .touch-bth:hover {
    color: var(--MainColor);
  }
/* ----- Making The Landing Section Responsive ----- */
  @media (max-width: 1349px) {
    .landing > img {
      top: 150px;
    }
  }
  @media (max-width: 991px) {
    .landing > img {
      display: none;
    }
    .landing-content {
      margin-top: 100px;
      text-align: center;
    }
    .landing .buttons {
      justify-content: center;
    }
    .landing-title {
      font-size: 60px;
    }
  }
  @media (max-width: 575px) {
    .landing-content {
      margin-top: 75px;
    }
    .landing-title {
      font-size: 50px;
    }
    .landing .buttons {
      flex-direction: column;
      gap: 10px;
    }
    .landing .bth, 
    .landing .touch-bth{
      padding: 16px 32px;
      font-size: 16px;
    }
  }
/* Styling The Services Section */
  .services {
    padding-top: calc(var(--MainPaddingTop) + 100px);
    padding-bottom: calc(var(--MainPaddingBottom) - 25px);
  }
  .aside {
    position: absolute;
    z-index: -1;
  }
  .services .aside.img {
    left: -30px;
  }
  .services .aside.img2 {
    right: 0;
    margin-top: 450px;
  }
  .services .container {
    display: flex;
    gap: 30px;
  }
  .services-content {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .services-title {
    text-transform: none;
    font-size: 2.6rem;
    line-height: 1.4;
    margin-bottom: 50px;
  }
  .services .touch.bth {
    box-shadow: inset 0 0 0 30px var(--MainAltColor);
    border-color: var(--MainAltColor);
    color: white;
    padding: 17px 35px;
    border-radius: 30px;
  }
  .services .touch.bth:hover {
    box-shadow: inset 0 0 0 0 #fff;
    color: var(--MainAltColor);
  }
  .services .services-boxes {
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
    display: flex;
    gap: 30px;
  }
  .services .service-box {
    flex-basis: 50%;
    max-width: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 7px rgb(28 31 33 / 15%);
    -moz-box-shadow: 0 3px 7px rgb(28 31 33 / 15%);
    box-shadow: 0 3px 7px rgb(28 31 33 / 15%);
    padding: 40px 38px;
    margin: 10px;
  }
  .services .service-img {
    margin-bottom: 30px;
  }
  .services .service-title {
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  .services .service-des {
    color: var(--MainColor);
    line-height: 1.5;
  }
/* ----- Making The Services Section Responsive ----- */
  @media (max-width: 1199px) {
    .services .container {
      gap: 10px;
    }
    .services-title {
      font-size: 34px;
    }
    .services .service-title {
      font-size: 24px;
    }
    .services .service-des {
      font-size: 16px;
    }
  }
  @media (max-width: 991px) {
    .services {
      padding-top: calc(var(--MainPaddingTop) + 25px);
    }
    .services .aside.img2 {
      display: none;
    }
    .services .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;
    }
    .services-content {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .services-title {
      text-align: center;
    }
    .services .touch.bth {
      margin: 0 auto;
    }
    .services .services-boxes {
      flex: 0 0 95%;
      max-width: 95%;
      justify-content: center;
      align-items: center;
    }
    .services .service-box {
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0;
    }
  }
  @media (max-width: 767px) {
    .services .service-box {
      height: 375px;
    }
  }
  @media (max-width: 575px) {
    .services .services-boxes {
      flex-direction: column;
    }
    .services .service-box {
      max-width: 300px;
    }
  }
/* ------- Components Section Heading ------- */
  .section-des {
    text-transform: uppercase;
    color: var(--MainAltColor);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8px;
  }
  .section-title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 1.4;
  }
/* ----- Making The Section Heading Responsive ----- */
  @media (max-width: 991px) {
    .section-des,
    .section-title {
      text-align: center;
    }
    .section-title {
      font-size: 32px;
    }
  }
/* Styling The About Section */
  .about {
    padding-bottom: calc(var(--MainPaddingBottom) + 25px);
  }
  .about .container {
    display: flex;
    gap: 30px;
  }
  .about .image,
  .about .about-content {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about .section-title {
    margin-bottom: 25px;
  }
  .about .about-des {
    color: var(--MainColor);
  }
/* ----- Making The About Section Responsive ----- */
  @media (max-width: 991px) {
    .about .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;
    }
    .about .image,
    .about .about-content {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .about .about-des {
      text-align: center;
    }
  }
  @media (max-width: 575px) {
    .about .about-des {
      font-size: 16px;
    }
  }
/* Styling The Portfolio Section */
  .portfolio {
    padding-bottom: var(--MainPaddingBottom);
  }
  .portfolio .images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .portfolio .image {
    height: 98.5%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .portfolio .image::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(49 69 132 / 80%);
    transition: var(--MainTransition) ease-out;
  }
  .portfolio .image:hover::before {
    transform: translate(-50%, -50%) scale(2.5);
  }
  .portfolio .image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    opacity: 0;
    transition: 0.4s 0.15s ease-in-out;
  }
  .portfolio .image:hover .image-title {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .portfolio .show.bth {
    color: var(--MainAltColor);
    border: none;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
  }
  .portfolio .show.bth:hover {
    color: var(--MainColor);
  }
/* ----- Making The Portfolio Section Responsive ----- */
  @media (max-width: 1199px) {
    .portfolio .images-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
/* Styling The Blog Section */
  .blog {
    padding-bottom: var(--MainPaddingBottom);
  }
  .aside.img4 {
    right: 0;
    margin-top: 200px;
  }
  .blog .arrows-container {
    position: relative;
  }
  .blog .arrows {
    padding: 0;
    position: absolute;
    margin-top: -25px;
    right: 0;
  }
  .blog .arrow {
    font-size: 2rem;
    padding: 8px;
    color: #BBBBBC;
    transition: var(--MainTransition);
  }
  .blog .arrow:hover {
    color: var(--MainColor);
  }
  .blog .blog-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 30px;
  }
  .blog .blog-box {
    background-color: #fff;
    padding: 50px 25px;
    min-height: 330px;
    -webkit-box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
    -moz-box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
    box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
    cursor: pointer;
  }
  .blog-box .blog-title {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .blog-box .blog-date {
    color: #6E757A;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .blog-box .blog-des {
    color: var(--MainColor);
    font-size: 1.225rem;
  }
  .blog .blog-box:first-of-type {
    background-color: var(--MainAltColor);
  }
  .blog .blog-box:first-of-type > * {
    color: white;
  }
  .blog .show.bth {
    color: var(--MainAltColor);
    border: none;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
  }
  .blog .show.bth:hover {
    color: var(--MainColor);
  }
/* ----- Making The Blog Section Responsive ----- */
  @media (min-width: 992px) {
    .blog .show.bth {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .blog .arrows-container {
      display: none;
    }
    .blog .blog-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      padding: 0;
    }
    .blog .blog-box {
      text-align: center;
      max-width: 370px;
    }
  }
/* Styling The Contact Section */
  .contact {
    padding-bottom: calc(var(--MainPaddingBottom) - 25px);
  }
  .contact-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .contact-form .input {
    background-color: #F4FAFE;
    border: none;
    color: var(--MainColor) !important;
    font-weight: 600;
    caret-color: var(--MainColor);
  }
  .contact-form .input:focus {
    outline: none;
  }
  .contact-form .email.input, 
  .contact-form .subject.input{
    flex-basis: calc(50% - 15px);
    padding: 20px 4px 20px 20px;
  }
  .contact-form textarea.input {
    resize: vertical;
    flex-basis: 100%;
    height: 100px;
    padding: 20px 4px 4px 20px;
  }
  .contact-form .input::placeholder {
    color: var(--MainColor);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    transition: var(--MainTransition);
  }
  .contact-form .input:focus::placeholder {
    opacity: 0;
  }
  .contact-form .sub.bth {
    background-color: var(--MainAltColor);
    border-color: var(--MainAltColor);
    color: white;
    padding: 18px 36px;
    border-radius: 30px;
    margin: 20px auto 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }
  .contact-form .sub.bth:hover {
    background-color: white;
    color: var(--MainAltColor);
  }
/* ----- Making The Contact Section Responsive ----- */
  @media (max-width: 675px) {
    .contact-form {
      max-width: 350px;
      margin: 0 auto;
    }
    .contact-form .email.input,
    .contact-form .subject.input,
    .contact-form textarea.input {
      flex-basis: 100%;
      padding-left: 10px;
    }
  }
/* Styling The Footer Section */
  footer {
    background-color: #060606;
    padding-top: calc(var(--MainPaddingTop) - 25px);
  }
  footer > * {
    color: white;
  }
  footer .container {
    text-align: center;
  }
  footer .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }
  footer .des {
    color: var(--MainAltColor);
    font-size: 40px;
    margin: 18px auto 30px;
  }
  footer .links {
    margin-bottom: 50px;
  }
  footer .links a {
    font-size: 18px;
    padding: 20px;
    color: #fff;
    transition: var(--MainTransition);
  }
  footer .links a:hover {
    color: var(--MainAltColor);
  }
  footer .copyright {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  footer .social a {
    display: block;
    color: white;
    font-size: 40px;
    transition: var(--MainTransition);
  }
  footer .social a:hover {
    color: var(--color);
  }
  footer .coded {
    text-align: center;
    margin: 50px auto 0;
    padding: 25px 15px;
    border-top: 1px solid #333;
    text-transform: capitalize;
  }
  footer .coded .author {
    color: var(--MainAltColor);
    font-weight: 700;
  }
/* ----- Making The Footer Section Responsive ----- */
  @media (max-width: 767px) {
    footer .social a {
      font-size: 30px;
    }
  }
  @media (max-width: 675px) {
    footer .links a {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }
  }